.all {
    font-family: Roboto,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #767676;
    background-color: #edecec;
    margin-top: 80px;   
}

.messages{
    overflow-y: scroll;
    transform: scaleY(-1);
}

.reverse{
    transform: scaleY(-1);
}

.roomname{
margin-left: 55px;
}

#messages-main {
    position: relative;
    margin: 0 auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#messages-main:after, #messages-main:before {
    content: " ";
    display: table;
}
#messages-main .ms-menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0 !important;
    overflow-y: auto;
    border-right: 1px solid #eee;
    padding-bottom: 60px;
    height: calc(var(--vh, 1vh)*85); 
    width: 240px;
    background: #fff;
}


/* @media (min-width:1200px){
    .action-header{
        width: 855px;
    }
    .msb-reply{
        width:1110px !important;
    }
}
@media (min-width:992px){
    .msb-reply{
        width:962px;
    }
   
} */

@media (min-width:768px) {
    #messages-main .ms-body {
    padding-left: 240px;
    }
    /* .msb-reply{
        width:690px;
    } */
}
/* @media (min-width:576px){
    .msb-reply{
        width:510px;
    }
}
@media (max-width:576px){
    .msb-reply{
        width:100%;
        padding-right: 15px !important;
    }
} */

@media (max-width:767px) {
    #messages-main .ms-menu {
   height:calc(100%-58px);
    /* height: 100%; */
    display: none;
    z-index: 1;
    top: 58px;
}
#messages-main .ms-menu.toggled {
    display: block;
}
#messages-main .ms-body {
    overflow: auto;
    /* padding-bottom: 90px !important; */
}
}
#messages-main .ms-user {
    padding: 14px;
    background: #f8f8f8;
}
#messages-main .ms-user>div {
    overflow: hidden;
    padding: 3px 5px 0 15px;
    font-size: 11px;
}
#messages-main #ms-compose {
    position: fixed;
    bottom: 120px;
    z-index: 1;
    right: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}
#ms-menu-trigger {
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    padding-right: 10px;
    padding-top: 19px;
}
#ms-menu-trigger i {
    font-size: 21px;
}
#ms-menu-trigger.toggled i:before {
    content: '\f2ea'
}
.fc-toolbar:before, .login-content:after {
    content: ""
}
.message-feed {
    padding: 20px;
}
#footer, .fc-toolbar .ui-button, .fileinput .thumbnail, .four-zero, .four-zero footer>a, .ie-warning, .login-content, .login-navigation, .pt-inner, .pt-inner .pti-footer>a {
    text-align: center;
}
.message-feed.right>.pull-right {
    margin-left: 15px;
}
.message-feed:not(.right) .mf-content {
    background:#2196f3; /*#14213d;*/
    font-size: 15px !important;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.message-feed.right .mf-content {
    background: #eee;
}
.mf-content {
    padding: 12px 17px 13px;
    border-radius: 2px;
    display: inline-block;
    max-width: 80%
}
.mf-date {
    display: block;
    color: #B3B3B3;
    margin-top: 7px;
}
.mf-date>i {
    font-size: 14px;
    line-height: 100%;
    position: relative;
    top: 1px;
}
.msb-reply {
    position: relative;
    z-index: 3;
    /* position: fixed; */
    bottom: 0;
    box-shadow: 0 -20px 20px -5px #fff;
    border-top: 1px solid #eee;
    background: #f8f8f8;
}
.four-zero, .lc-block {
    box-shadow: 0 1px 11px rgba(0, 0, 0, .27);
}
.msb-reply textarea {
    width: 100%;
    font-size: 13px;
    border: 0;
    padding: 10px 15px;
    resize: none;
    height: 60px;
    background: 0 0;
}
.msb-reply button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    height: 100%;
    width: 60px;
    font-size: 25px;
    color: #2196f3;
    background: 0 0;
}
.msb-reply button:hover {
    background: #dfd3d3;
}
.img-avatar {
    height: 37px;
    border-radius: 2px;
    width: 37px;
}
.sub-heading{
    font-size: 20px !important;
    color: #14213d;
    font-weight: 600;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.list-group.lg-alt{
    overflow-y: auto;
}

.list-group.lg-alt .list-group-item:hover{
    background-color: grey;
    color: white;
}
.list-group.lg-alt .list-group-item{
    border: 0;
    color: #2196f3;
    font-size:17px;
}
.p-15 {
    padding: 15px!important;
}
.btn:not(.btn-alt) {
    border: 0;
}
.action-header {
    position: relative;
    width: 100%;
    z-index: 3;
    background: #f8f8f8;
    padding: 15px 13px 15px 17px;

}
/* .ah-actions {
    z-index: 3;
    float: right;
    margin-top: 7px;
    position: relative;
}
.actions {
    list-style: none;
    padding: 0;
    margin: 0;
}
.actions>li {
    display: inline-block;
}

.actions:not(.a-alt)>li>a>i {
    color: #939393;
}
.actions>li>a>i {
    font-size: 20px;
}
.actions>li>a {
    display: block;
    padding: 0 10px;
} */
.ms-body{
    background:#fff;
    height: calc(var(--vh, 1vh)*84)/*82*/; 
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
     /* height: 90vh; */ 
    /* padding-bottom:90px !important;  */
}
#ms-menu-trigger {
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    padding-right: 10px;
    padding-top: 19px;
    cursor:pointer;
}
#ms-menu-trigger, .message-feed.right {
    text-align: right;
}
#ms-menu-trigger, .toggle-switch {
    -webkit-user-select: none;
    -moz-user-select: none;
}