.chatRoom{
    flex: 0.7;
    flex-grow: 1;
}

.chatroom__message {
  position: relative;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(243, 240, 240);
  border-radius: 15px;
  width: fit-content;
  margin-top: 25px;
}

.chatroom__messagetimestamp {
  margin-left: 10px;
  font-weight: bold;
  font-size: xx-small;
  color: gray;
}

.chatroom__messagerecierver {
  margin-left: auto;
  background-color: #c5ff99;
}

.chatRoom__header{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #686d76 ;
}

.chatRoom_channelName{
    display: flex;
}

.chatRoom__body {
   
    background-color: teal;
    overflow+y: scroll; 
   
  }

.chatRoom__footer {
    /* position:relative; */
    bottom: 0;
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    border-top: 1px solid rgb(223, 222, 222);
    background-color:#f5f4f4 ;
    
  }
  
  .chatRoom__footer > form {
    padding: 15px;
    flex: 1;
    display: flex;
    width:70%;
  }
  
  .chatRoom__footer > form > input {
    flex: 1;
    border-radius: 50px;
    padding: 15px;
    border-bottom:none;
    width: 90%;
    border: 1px solid #686d76 !important;
    
  }
  
  .chatRoom__footer > form > button {
    border: none;
    /* background-color: #010807; */
    color: black;
    padding: 10px;
    border-radius: 50%;
  }
  
  .chatRoom__footer > form > input:focus {
    outline-width: 0;
  }
  .chatRoom__footer > form > button:focus {
    outline-width: 0;
  }
  
  .chatRoom__footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;

  }
  