
.chatRoom__footer {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    border-top: 1px solid rgb(223, 222, 222);
  }
  
  .chatRoom__footer > form {
    flex: 1;
    display: flex;
  }
  
  .chatRoom__footer > form > input {
    flex: 1;
    border-radius: 50px;
    padding: 15px;
    border: none;
    width: 90%;
  }
  
  .chatRoom__footer > form > button {
    border: none;
    background-color: #00bfa5;
    color: white;
    padding: 10px;
    border-radius: 50%;
  }
  
  .chatRoom__footer > form > input:focus {
    outline-width: 0;
  }
  .chatRoom__footer > form > button:focus {
    outline-width: 0;
  }
  
  .chatRoom__footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
  }
  